<section class="construction_information" style="background: url('img/video.webp') center center/cover no-repeat;">
    <div class="container">
        <div class="wrapper">
            <h2 class="construction_information-title">Індивідуальний підхід</h2>
            <span class="construction_information-subtitle">Кожен проект для нас - це унікальна мрія клієнта, і ми
                створюємо кожен будинок з урахуванням вашого смакута потреб</span>
            <a href="javascript:void(0)" class="link__animate link__animate-construction">Детальніше про alexx grour</a>
        </div>
    </div>
</section>