<section class="construction_stages">
    <div class="container">
        <div class="swiper construction_stages-swiper">
            <h2 class="title">( Етапи роботи з нами )</h2>
            <span class="construction_stages-descr">В мире строительства частных домов мы предлагаем не просто строить
                дом, а создавать пространство, которое станет отражением вашего стиля жизни и индивидуальности. </span>
            <a href="javasctip:void(0)" class="construction_stages-link">Замовити проєкт</a>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:void(0)" class="construction_stages__item">
                        <div class="construction_img">
                            <img src="img/construction_1.webp" alt="">
                        </div>
                        <div class="construction_stages__item-title">
                            <h4>обговорення побажань клієнта</h4>
                            <span>01</span>
                        </div>
                        <p>На цьому етапі ми з вами вивчаємо ваші бажання та вимоги до майбутнього будинку. Ми ретельно
                            аналізуємо ваші ідеї, щоб створити концепцію, яка відповідає вашим потребам і вподобанням.
                        </p>
                    </a>
                    <a href="javascript:void(0)" class="construction_stages__item black-text">
                        <div class="construction_stages__item-title">
                            <h4>визначення бюджету</h4>
                            <span>02</span>
                        </div>
                        <p>Ми розуміємо, що кожен клієнт має свій бюджет, тому ми працюємо з вашими фінансовими
                            можливостями, щоб підібрати оптимальні рішення, які відповідають вашофму бюджету.</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)" class="construction_stages__item black-text">
                        <div class="construction_stages__item-title">
                            <h4>створення дизайн-проєкту</h4>
                            <span>03</span>
                        </div>
                        <p>На цьому етапі ми розробляємо дизайн-проект вашого будинку, включаючи внутрішні і зовнішні
                            рішення. Ми обговорюємо стилістику, планування і деталі, щоб створити унікальний і затишний
                            простір.
                        </p>
                    </a>
                    <a href="javascript:void(0)" class="construction_stages__item">
                        <div class="construction_img"
                            style="background: url('img/construction_2.webp') center center/cover no-repeat ;"></div>
                        <div class="construction_stages__item-title">
                            <h4>архітектурний проєкт</h4>
                            <span>04</span>
                        </div>
                        <p>Ми вибираємо крокву, фасад, матеріали для стін і інші архітектурні елементи, щоб створити
                            естетично привабливий і функціональний будинок.</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)" class="construction_stages__item black-text">
                        <div class="construction_stages__item-title">
                            <h4>створення 3d моделі</h4>
                            <span>05</span>
                        </div>
                        <p>Після завершення архітектурного проекту ми створюємо 3D-модель вашого майбутнього будинку,
                            яка дозволяє вам долучитися до процесу та побачити результат заздалегідь
                        </p>
                    </a>
                    <a href="javascript:void(0)" class="construction_stages__item black-text">
                        <div class="construction_stages__item-title">
                            <h4>створення конструкційних креслень</h4>
                            <span>06</span>
                        </div>
                        <p>Ми розробляємо конструкційні креслення, які включають в себе арматуру, перевірку грунту,
                            геологію, геодезію і розрахунок фундаменту, щоб забезпечити міцність та надійність вашого
                            будинку</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)" class="construction_stages__item">
                        <div class="construction_img"
                            style="background: url('img/construction_3.webp') center center/cover no-repeat ;"></div>
                        <div class="construction_stages__item-title">
                            <h4>підготовка до будівництва</h4>
                            <span>07</span>
                        </div>
                        <p>На цьому етапі ми з вами вивчаємо ваші бажання та вимоги до майбутнього будинку. Ми ретельно
                            аналізуємо ваші ідеї, щоб створити концепцію, яка відповідає вашим потребам і вподобанням.
                        </p>
                    </a>
                    <a href="javascript:void(0)" class="construction_stages__item black-text">
                        <div class="construction_stages__item-title">
                            <h4>управління будівельним процесом</h4>
                            <span>08</span>
                        </div>
                        <p>Ми забезпечуємо ведення та керування будівельним процесом з урахуванням всіх вимог та
                            стандартів якості. Надаємо звітність про кожен етап робіт.</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)" class="construction_stages__item last-slide">
                        <div class="construction_img"
                            style="background: url('img/construction_1.webp') center center/cover no-repeat ;"></div>
                        <div class="construction_stages__item-title">
                            <h4>здача готового проєкту</h4>
                            <span>09</span>
                        </div>
                        <p>Наша мета - здати будинок так, щоб клієнт міг в той же день заселятися і насолоджуватися
                            своїм затишним домом. Ми прагнемо до того, щоб кожен день вашого перебування в новому
                            будинку був для вас особливим.
                        </p>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="construction_stages-grid">
            <a href="javascript:void(0)" class="construction_stages__item">
                <div class="construction_img">
                    <img src="img/construction_1.webp" alt="">
                </div>
                <div class="construction_stages__item-title">
                    <h4>обговорення побажань клієнта</h4>
                    <span>01</span>
                </div>
                <p>На цьому етапі ми з вами вивчаємо ваші бажання та вимоги до майбутнього будинку. Ми ретельно
                    аналізуємо ваші ідеї, щоб створити концепцію, яка відповідає вашим потребам і вподобанням.
                </p>
            </a>
            <div class="block_title">
                <h2 class="title">( Етапи роботи з нами )</h2>
                <span class="construction_stages-descr">В мире строительства частных домов мы предлагаем не просто строить
                дом, а создавать пространство, которое станет отражением вашего стиля жизни и индивидуальности. </span>
                <a href="javasctip:void(0)" class="construction_stages-link">Замовити проєкт</a>
            </div>
            <a href="javascript:void(0)" class="construction_stages__item black-text" id="two">
                <div class="construction_stages__item-title">
                    <h4>визначення бюджету</h4>
                    <span>02</span>
                </div>
                <p>Ми розуміємо, що кожен клієнт має свій бюджет, тому ми працюємо з вашими фінансовими
                    можливостями, щоб підібрати оптимальні рішення, які відповідають вашофму бюджету.</p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item black-text">
                <div class="construction_stages__item-title">
                    <h4>створення дизайн-проєкту</h4>
                    <span>03</span>
                </div>
                <p>На цьому етапі ми розробляємо дизайн-проект вашого будинку, включаючи внутрішні і зовнішні
                    рішення. Ми обговорюємо стилістику, планування і деталі, щоб створити унікальний і затишний
                    простір.
                </p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item">
                <div class="construction_img">
                    <img src="img/construction_2.webp" alt="">
                </div>
                <div class="construction_stages__item-title">
                    <h4>архітектурний проєкт</h4>
                    <span>04</span>
                </div>
                <p>Ми вибираємо крокву, фасад, матеріали для стін і інші архітектурні елементи, щоб створити
                    естетично привабливий і функціональний будинок.</p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item black-text">
                <div class="construction_stages__item-title">
                    <h4>створення 3d моделі</h4>
                    <span>05</span>
                </div>
                <p>Після завершення архітектурного проекту ми створюємо 3D-модель вашого майбутнього будинку,
                    яка дозволяє вам долучитися до процесу та побачити результат заздалегідь
                </p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item black-text">
                <div class="construction_stages__item-title">
                    <h4>створення конструкційних креслень</h4>
                    <span>06</span>
                </div>
                <p>Ми розробляємо конструкційні креслення, які включають в себе арматуру, перевірку грунту,
                    геологію, геодезію і розрахунок фундаменту, щоб забезпечити міцність та надійність вашого
                    будинку</p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item" id="seven">
                <div class="construction_img">
                    <img src="img/construction_3.webp" alt="">
                </div>
                <div class="construction_stages__item-title">
                    <h4>підготовка до будівництва</h4>
                    <span>07</span>
                </div>
                <p>На цьому етапі ми з вами вивчаємо ваші бажання та вимоги до майбутнього будинку. Ми ретельно
                    аналізуємо ваші ідеї, щоб створити концепцію, яка відповідає вашим потребам і вподобанням.
                </p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item black-text" id="eighth">
                <div class="construction_stages__item-title">
                    <h4>управління будівельним процесом</h4>
                    <span>08</span>
                </div>
                <p>Ми забезпечуємо ведення та керування будівельним процесом з урахуванням всіх вимог та
                    стандартів якості. Надаємо звітність про кожен етап робіт.</p>
            </a>
            <a href="javascript:void(0)" class="construction_stages__item last-slide" id="nine">
                <div class="construction_img">
                    <img src="img/construction_4.webp" alt="">
                </div>
                <div class="construction_stages__item-title">
                    <h4>здача готового проєкту</h4>
                    <span>09</span>
                </div>
                <p>Наша мета - здати будинок так, щоб клієнт міг в той же день заселятися і насолоджуватися
                    своїм затишним домом. Ми прагнемо до того, щоб кожен день вашого перебування в новому
                    будинку був для вас особливим.
                </p>
            </a>
        </div>
</section>