<section class="construction_reviews">
    <div class="swiper construction_reviews-slider">
        <h2 class="title title__reviews">( Відгуки наших клієнтів )</h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="user_photo">
                    <img src="img/user_1.webp" alt="reviews_logo">
                </div>
                <div class="reviews_content">
                    <span class="user_data">Олександра безугла</span>
                    <ul class="user_rating">
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                    </ul>
                    <p class="user_comment">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                        надійним партнером. Ми віримо, що на кожному етапі.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="user_photo">
                    <img src="img/user_2.webp" alt="reviews_logo">
                </div>
                <div class="reviews_content">
                    <span class="user_data">Анатолій Андрієвський</span>
                    <ul class="user_rating">
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                    </ul>
                    <p class="user_comment">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                        надійним партнером. Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                        надійним партнером. Алекс Груп є вашим надійним партнером.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="user_photo">
                    <img src="img/user_3.webp" alt="reviews_logo">
                </div>
                <div class="reviews_content">
                    <span class="user_data">Володимир Семенченко</span>
                    <ul class="user_rating">
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                    </ul>
                    <p class="user_comment">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                        надійним партнером.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="user_photo">
                    <img src="img/user_2.webp" alt="reviews_logo">
                </div>
                <div class="reviews_content">
                    <span class="user_data">Анатолій Андрієвський</span>
                    <ul class="user_rating">
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                        <li class="user_star">
                            <img src="img/star.svg" alt="">
                        </li>
                    </ul>
                    <p class="user_comment">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                        надійним партнером. Ми віримо, що на кожному етапі.</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>