<section class="construction_promo">
    <div class="container">
        <a href="javascript:void(0)" class="promo_back">Назад</a>
        <div class="promo_wrapper">
            <h3 class="promo_wrapper-subtitle">Створення дизайн проєкту і будівництво</h3>
            <p class="promo_wrapper-descr">Ласкаво просимо до нашої будівельної компанії, де кожен проект - це не
                просто будівництво, а втілення вашої мрії у реальність. З роками досвіду і сотнями успішно завершених
                проектів ми пишаємося нашим професіоналізмом та прагненням до якості в кожній деталі</p>
        </div>
    </div>
    <div class="promo_img" style="background: url('../img/bg_main.webp') center center/cover no-repeat;">
    </div>
</section>