<section class="construction_questions">
    <div class="container">
        <div class="wrapper-flex">
            <div class="construction_questions-content">
                <h2 class="title">( Питання, які часто задають )</h2>
                <span class="construction_questions-subtitle">Якщо ви хочете отримати консультацію або знайти відповіді на
                    інші запитання, заповніть форму нижче і наш менеджер зв’яжеться з вами найближчим часом.</span>
            </div>
            <div class="accordion">
                <div class="accordion_item accordion_item-active">
                    <div class="accordion_item-title">
                        <span>01</span>
                        <p>Які матеріали ви використовуєте для будівництва?</p>
    
                    </div>
                    <div class="accordion_item-text">Ми використовуємо тільки високоякісні та перевірені матеріали, щоб
                        забезпечити надійність і довговічність вашого будинку. Наша компанія працює з провідними
                        виробниками, що гарантує якість матеріалів.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title ">
                        <span>02</span>
                        <p>Чи включено у вартість будівництва всі необхідні дозволи та документи?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми забезпечуємо оформлення всіх необхідних дозволів та документів
                        для будівництва вашого будинку. Ми відповідаємо за організацію всього процесу, щоб ви могли спокійно
                        насолоджуватися будівництвом.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title ">
                        <span>03</span>
                        <p>Як довго триває процес будівництва?</p>
    
                    </div>
                    <div class="accordion_item-text">Терміни будівництва залежать від розміру та складності проекту, але ми
                        завжди прагнемо виконати роботи в обговорених термінах. Наша команда працює ефективно та
                        зосереджено, щоб максимально скоротити час будівництва.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title ">
                        <span>04</span>
                        <p>Чи надаєте ви гарантію на виконані роботи?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми надаємо гарантію на якість виконаних робіт і використані
                        матеріали. Наша компанія підтримує свою репутацію надійного партнера, тому гарантуємо високу якість
                        кожного проекту.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title">
                        <span>05</span>
                        <p>Чи можна вносити зміни в проект під час будівництва?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми завжди готові врахувати ваші побажання та зміни у проекті, але
                        це може вплинути на терміни будівництва і вартість проекту.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title ">
                        <span>06</span>
                        <p>Чи можна побачити приклади раніше завершених проектів?</p>
    
                    </div>
                    <div class="accordion_item-text">Звичайно, ми раді показати вам наші успішні проекти та відгуки
                        задоволених клієнтів. Ви можете ознайомитися з нашим портфоліо на нашому веб-сайті або запитати
                        нашого менеджера.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title">
                        <span>07</span>
                        <p>Які методи оплати ви приймаєте?</p>
    
                    </div>
                    <div class="accordion_item-text">Ми приймаємо різноманітні методи оплати, включаючи безготівковий
                        переказ, чеки та платіжні системи. Для зручності наших клієнтів ми стараємося забезпечити
                        різноманітні варіанти оплати.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title">
                        <span>08</span>
                        <p>Чи забезпечуєте ви послуги після будівельного обслуговування?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми надаємо послуги з післябудівельного обслуговування, включаючи
                        ремонт та технічне обслуговування. Наша команда завжди готова допомогти вам після завершення
                        будівництва.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title">
                        <span>09</span>
                        <p>Чи можна отримати консультацію перед початком будівництва?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми надаємо безкоштовну консультацію перед початком будівництва, де
                        ми відповімо на всі ваші питання та надамо рекомендації щодо вибору проекту та характеристик
                        будівництва.</div>
                </div>
                <div class="accordion_item ">
                    <div class="accordion_item-title">
                        <span>10</span>
                        <p>Чи можна брати участь у процесі будівництва?</p>
    
                    </div>
                    <div class="accordion_item-text">Так, ми завжди вітаємо вашу участь у процесі будівництва. Ви можете
                        зустрітися з нашою командою, обговорити деталі проекту та вносити свої пропозиції.</div>
                </div>
            </div>
        </div>
    </div>
</section>