<section class="feedback">
  <div class="container">
    <div class="feedback__content">
      <div class="feedback__content-flex">
        <h5 class="title title__grey title__feedback">( Телефон )</h5>
        <a href="javascript:void(0)" class="feedback__item">+38 (063) 678 67 48</a>
        <a href="javascript:void(0)" class="feedback__item">+38 (063) 678 67 48</a>
        <a href="javascript:void(0)" class="feedback__item">+38 (063) 678 67 48</a>
      </div>
      <div class="feedback__content-flex">
        <h5 class="title title__grey title__feedback title__mt20">( E-мейл )</h5>
        <a href="javascript:void(0)" class="feedback__item">alexgroup@gmail.com</a>
      </div>

    </div>
    <div class="form feedback__form">
      <p class="feedback__form-descr">Якщо ви хочете отримати консультацію або знайти відповіді на інші запитання,
        заповніть форму нижче і наш менеджер зв’яжеться з вами найближчим часом.</p>
      <form action="javascript:void(0);">
        <div class="input" id="userName">
          <label for="user">Ім’я</label>
          <input type="text" name="userName" id="user"  placeholder="Alex">
          <span>error message</span>
        </div>
        <div class="input" id="userPhone">
          <label for="phone">Телефон</label>
          <input type="text" id="phone"  name="phoneUser"  placeholder="+38 (063) 24 56 789">
          <span>error message</span>
        </div>
        <div class="input" id="textMessage" >
          <label for="textArea">Повідомлення</label>
          <textarea  name="textMessage" id="textArea" placeholder="Введіть ваше повідомлення"  ></textarea>
          <span>error message</span>
        </div>

        <button type="submit" class="btn">надіслати</button>
      </form>
    </div>
    <div class="divider"></div>
  </div>

</section>