<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__links">
                <a href="javascript:void(0)" class="footer__logo">
                    <img src="img/logo_white.svg" alt="AlexGroup">
                </a>
                <ul class="social__items">
                    <li class="social__items-item">
                        <a href="javascript:void(0)">
                            <img src="img/facebook_icon-white.svg" alt="">
                        </a>
                    </li>
                    <li class="social__items-item">
                        <a href="javascript:void(0)">
                            <img src="img/instagram_icon-white.svg" alt="logo_instagram">
                        </a>
                    </li>
                    <li class="social__items-item">
                        <a href="javascript:void(0)">
                            <img src="img/telegram_icon-white.svg" alt="logo_telegram">
                        </a>

                    </li>
                </ul>
            </div>
            <ul class="footer__nav">
                <li>
                    <a href="javascript:void(0)">головна</a>
                </li>
                <li>
                    <a href="javascript:void(0)">ремонт та оздоблення</a>
                </li>
                <li>
                    <a href="javascript:void(0)">будівництво</a>
                </li>
                <li>
                    <a href="javascript:void(0)">портфоліо</a>
                </li>
                <li>
                    <a href="javascript:void(0)">вибір ділянки</a>
                </li>
                <li>
                    <a href="javascript:void(0)">контакти</a>
                </li>
            </ul>
            <div class="footer__content">
                <div class="footer__content-wrapper">
                    <h5 class="title title__grey title__fs14">Телефон</h5>
                    <a href="#" class="footer__item">+38 (063) 678 67 48</a>
                </div>
                <div class="footer__content-wrapper">
                    <h5 class="title title__grey title__fs14">E-мейл</h5>
                    <a href="#" class="footer__item">alexgroup@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="privacy__policy">
            <a href="javascript:void(0)">Політика конфіденційності</a>
            <a href="javascript:void(0)">@ 2023 Усі права захищено</a>
        </div>
    </div>

</footer>