<header class="header">
    <div class="container">
        <div class="header__left">
            <div class="mobile__menu">
                <span></span>
            </div>
            <a href="javascript:void(0)" class="header__logo">
                <img src="img/logo_main.svg" alt="logo_AlexGrop">
            </a>
        </div>
        <div class="header__right">
            <a href="javascript:void(0)" class="header__number">+38 (063) 97 46 566</a>
            <ul class="header__items">
                <li class="header__item">
                    <a href="javascript:void(0)">
                        <img src="img/facebook_icon.svg" alt="">
                    </a>
                </li>
                <li class="header__item">
                    <a href="javascript:void(0)">
                        <img src="img/instagram_icon.svg" alt="logo_instagram">
                    </a>
                </li>
                <li class="header__item">
                    <a href="javascript:void(0)">
                        <img src="img/telegram_icon.svg" alt="logo_telegram">
                    </a>
                </li>
              </ul>
        </div>
    </div>
    <div class="thanks_modal">
        <div class="thanks_modal-content">
            <span>Вашу заявку надіслано</span>
            <p>Hаш менеджер зв’яжеться з вами найближчим часом.</p>
        </div>
        <div class="thanks_modal-close">
        </div>
    </div>
</header>