<div class="menu_overlay">
    <div class="container">
      <div class="content__top">
        <div class="content__top-left">
          <span class="content__top-left-close"></span>
          <a href="javascript:void(0)" class="content__top-left-logo">
            <img src="img/logo_white.svg" alt="AlexxGroup">
          </a>
        </div>
        <div class="content__top-right">
          <a href="javascript:void(0)" class="content__top-right__phone">+38 (063) 97 46 566</a>
          <ul class="content__top-right-items">
            <li class="content__top-right-items__item">
                <a href="javascript:void(0)">
                    <img src="img/facebook_icon-white.svg" alt="">
                </a>
            </li>
            <li class="content__top-right-items__item">
                <a href="javascript:void(0)">
                    <img src="img/instagram_icon-white.svg" alt="logo_instagram">
                </a>
            </li>
            <li class="content__top-right-items__item">
                <a href="javascript:void(0)">
                    <img src="img/telegram_icon-white.svg" alt="logo_telegram">
                </a>
            </li>
          </ul>
        </div>
      </div>
      <nav>
        <ul class="navigation">
          <li>
            <a href="javascript:void(0)"><span>01</span>Вибір ділянки</a>
          </li>
          <li>
            
            <a href="javascript:void(0)"><span>02</span>будівництво</a>
          </li>
          <li>
            
            <a href="javascript:void(0)"><span>03</span>про нас</a>
          </li>
          <li>
            
            <a href="javascript:void(0)"><span>04</span>проекти</a>
          </li>
          <li>
            
            <a href="javascript:void(0)"><span>05</span>контакти</a>
          </li>
          
        </ul>
      </nav>
      <div class="content__bottom">
        <a href="javascript:void(0)" class="content__bottom-phone">+38 (063) 97 46 566</a>
        <ul class="content__bottom-items">
          <li class="content__bottom-items-item">
              <a href="javascript:void(0)">
                  <img src="img/facebook_icon-white.svg" alt="">
              </a>
          </li>
          <li class="content__bottom-items-item">
              <a href="javascript:void(0)">
                  <img src="img/instagram_icon-white.svg" alt="logo_instagram">
              </a>
          </li>
          <li class="content__bottom-items-item">
              <a href="javascript:void(0)">
                  <img src="img/telegram_icon-white.svg" alt="logo_telegram">
              </a>
          </li>
        </ul>
      </div>
    </div>
</div>