<section class="projects">
    <div class="container">
      <h2 class="title">( Наші проекти )</h2>
      <ul class="tabs__btn">
        <li class="tabs__btn-item tabs__btn-item_active" >усі
          <button data-name="all"></button>
        </li>
        <li class="tabs__btn-item" data-f="tab-1">квартири
          <button data-name="apartments"></button>
        </li>
        <li class="tabs__btn-item" data-f="tab-2">будинки
          <button data-name="houses"></button>
        </li>
        <li class="tabs__btn-item" data-f="tab-3">комерція
          <button data-name="commerce"></button>
        </li>
        
      </ul>
      
    </div>
    <div class="swiper projects__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="javascript:void(0)">
            <div class="img">
              <img src="img/slider.webp" alt="">
            </div>
            <h4 class="swiper-slide__title">квартира в стилі мінімалізм</h4>
            <p class="swiper-slide__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
              надійним партнером.</p>
              <span class="link__animate link__animate-slider">детальніше про проект</span>
          </a>
          
        </div>
        <div class="swiper-slide">
          <a href="javascript:void(0)">
            <div class="img">
              <img src="img/slider.webp" alt="">
            </div>
            <h4 class="swiper-slide__title">квартира в стилі мінімалізм</h4>
            <p class="swiper-slide__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
              надійним партнером.</p>
              <span class="link__animate link__animate-slider">детальніше про проект</span>
          </a>
          
        </div>
        <div class="swiper-slide">
          <a href="javascript:void(0)">
            <div class="img">
              <img src="img/slider.webp" alt="">
            </div>
            <h4 class="swiper-slide__title">квартира в стилі мінімалізм</h4>
            <p class="swiper-slide__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
              надійним партнером.</p>
              <span class="link__animate link__animate-slider">детальніше про проект</span>
          </a>
          
        </div>
        <div class="swiper-slide">
          <a href="javascript:void(0)">
            <div class="img">
              <img src="img/slider.webp" alt="">
            </div>
            <h4 class="swiper-slide__title">квартира в стилі мінімалізм</h4>
            <p class="swiper-slide__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
              надійним партнером.</p>
              <span class="link__animate link__animate-slider">детальніше про проект</span>
          </a>
          
        </div>
        <div class="swiper-slide">
          <a href="javascript:void(0)">
            <div class="img">
              <img src="img/slider.webp" alt="">
            </div>
            <h4 class="swiper-slide__title">квартира в стилі мінімалізм</h4>
            <p class="swiper-slide__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
              надійним партнером.</p>
              <span class="link__animate link__animate-slider">детальніше про проект</span>
          </a>
          
        </div>


        
        
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</section>