<section class="promo">
    <div class="container">
        <a href="javascript:void(0)" class="promo_back">Назад</a>
        <div class="promo_wrapper">
            <h3 class="promo_wrapper-subtitle">Про нас</h3>
            <p class="promo_wrapper-descr">В мире строительства частных домов мы предлагаем не просто строить дом, а создавать
                пространство, которое станет отражением вашего стиля жизни и индивидуальности.</p>
        </div>
    </div>
   <div class="promo_img" style="background: url('../img/our_projects_promo.webp') center center/cover no-repeat;">
    </div>
</section> 