<section class="about_company">
    <div class="container">
        <h2 class="title">( Про компанію )</h2>
        <div class="about_company__descr">
            <p class="about_company__descr-bold">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим клієнтам не просто
                послуги з будівництва, а цілковитий комплекс супроводу від початку до кінця.</p>
            <p class="about_company__descr-semibold">Ми розуміємо, що створення вашого будинку — це особливий момент, і ми робимо все
                можливе, щоб процес був не лише безтурботним, але й надихаючим.</p>
        </div>
        <div class="about_company__items">
            <a href="javascript:void(0)" class="about_company__items-item">
                <img src="img/partners.webp" alt="">
            </a>
            <a href="javascript:void(0)" class="about_company__items-item">
                <img src="img/partners.webp" alt="">
            </a>
            <a href="javascript:void(0)" class="about_company__items-item">
                <img src="img/partners.webp" alt="">
            </a>
            <a href="javascript:void(0)" class="about_company__items-item">
                <img src="img/partners.webp" alt="">
            </a>
            <a href="javascript:void(0)" class="about_company__items-item">
                <img src="img/partners.webp" alt="">
            </a>
        </div>
    </div>
</section>