<section class="about_team">
    <div class="container">
        <h2 class="title title__white">( Наші проекти )</h2>
        <div class="swiper about_team__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide_img" style="background: url('img/about_team.webp') center center/cover no-repeat;">
                    </div>
                    <div class="swiper-slide_items">
                        <h4 class="swiper-slide_items-title">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим
                            клієнтам цілковитий комплекс супроводу від початку до кінця.</h4>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_img" style="background: url('img/about_team.webp') center center/cover no-repeat;">
                    </div>
                    <div class="swiper-slide_items">
                        <h4 class="swiper-slide_items-title">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим
                            клієнтам цілковитий комплекс супроводу від початку до кінця.</h4>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_img" style="background: url('img/about_team.webp') center center/cover no-repeat;">
                    </div>
                    <div class="swiper-slide_items">
                        <h4 class="swiper-slide_items-title">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим
                            клієнтам цілковитий комплекс супроводу від початку до кінця.</h4>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide_img" style="background: url('img/about_team.webp') center center/cover no-repeat;">
                    </div>
                    <div class="swiper-slide_items">
                        <h4 class="swiper-slide_items-title">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим
                            клієнтам цілковитий комплекс супроводу від початку до кінця.</h4>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                        <p class="swiper-slide_items-descr">В мире строительства частных домов мы предлагаем не просто
                            строить дом, а создавать пространство, которое станет отражением вашего стиля жизни и
                            индивидуальности. Наша команда профессионалов в области строительства обеспечивает полное
                            сопровождение - от выбора участка и разработки уникального проекта до воплощения ваших идей
                            в камне и дереве. </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>