<section class="about_us">
    <div class="container">
      <h2 class="title">( Про компанію )</h2>
      <p class="about_us__descr-bold">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим клієнтам не просто
        послуги з будівництва, а цілковитий комплекс супроводу від початку до кінця.</p>
      <p class="about_us__descr">Ми розуміємо, що створення вашого будинку — це особливий момент, і ми робимо все
        можливе, щоб процес був не лише безтурботним, але й надихаючим.</p>
    </div>
  </section>