<section class="main" style="background: url('../img/bg_main.webp') center center/cover no-repeat;">
    <div class="container">
      <div class="main__content">
        <h1 class="main__title">Будівельна компанія <i>повного циклу</i></h1>
        <span class="main__descr">Там, де якість зустрічає затишок: <br> ваш новий будинок починається з нас.</span>
        <a href="javascript:void(0)" class="link__animate">Розробити Архітектурний план</a>
      </div>
      <div class="main__links">
        <a href="javascript:void(0)" class="main__links-item">Підбір ділянки</a>
        <a href="javascript:void(0)" class="main__links-item">будівництво</a>
        <a href="javascript:void(0)" class="main__links-item">ремонт</a>
      </div>
      <div class="animation__x">
      </div>
    </div>
  </section>