<section class="video">
  <div class="wrapper">
    <div id="player"></div>
    <div class="bg" id="bg" style="background: url('img/video.webp') center center/cover no-repeat;"></div>
    <div id="play" onclick="playVideo()">
      <img src="img/play.svg" alt="play">
    </div>
  </div>
  <div class="container">
    <p class="video__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим надійним
      партнером, забезпечуючи вас всією необхідною турботою та увагою до деталей. Ваша довіра - наша головна цінність,
      і ми прагнемо зробити кожен момент вашого будівельного шляху особливим і незабутнім.</p>
    <a href="javascript:void(0)" class="link__animate link__animate-video">детальніше про alexx grour</a>
  </div>
</section>  