<section class="work_process" style="background: url('../img/bg_work_process.webp') center center/cover no-repeat;">
    <div class="container">
      <h2 class="title title__white">( Як ми працюємо )</h2>
      <div class="swiper work_process__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>обговорення побажань клієнта</h4>
                <span>01</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>вибір ділянки</h4>
                <span>02</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>розробка дизайн-проекту</h4>
                <span>03</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>будівництво та фундамент</h4>
                <span>04</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>обговорення побажань клієнта</h4>
                <span>05</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>вибір ділянки</h4>
                <span>06</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>розробка дизайн-проекту</h4>
                <span>07</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
            <a href="javascript:void(0)" class="work_process__item">
              <div class="work_process__item-title">
                <h4>будівництво та фундамент</h4>
                <span>08</span>
              </div>
              <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
            </a>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="work_process-grid">

        <a href="javascript:void(0)" class="work_process__item">
          <div class="work_process__item-title">
            <h4>обговорення побажань клієнта</h4>
            <span>01</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" id="two" class="work_process__item">
          <div class="work_process__item-title">
            <h4>вибір ділянки</h4>
            <span>02</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" id="three" class="work_process__item">
          <div class="work_process__item-title">
            <h4>розробка дизайн-проекту</h4>
            <span>03</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" id="four" class="work_process__item">
          <div class="work_process__item-title">
            <h4>будівництво та фундамент</h4>
            <span>04</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" id="five" class="work_process__item">
          <div class="work_process__item-title">
            <h4>професійна геодезія і зйомка</h4>
            <span>05</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" class="work_process__item">
          <div class="work_process__item-title">
            <h4>архітектурне проектування</h4>
            <span>06</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" class="work_process__item">
          <div class="work_process__item-title">
            <h4>оздоблення</h4>
            <span>07</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
        <a href="javascript:void(0)" id="eight" class="work_process__item">
          <div class="work_process__item-title">
            <h4>здача будинку</h4>
            <span>08</span>
          </div>
          <p>Перед тим як розпочати вибір ділянки, ми ретельно обговорюємо ваші побажання. </p>
        </a>
      </div>
</section>



