<section class="contacts_feedback">
    <div class="container">
        <h2 class="title">( Lorem ipsum dolor )</h2>
        <div class="contacts_feedback_wrapper">
            <p class="contacts_feedback_wrapper-descr">Якщо ви хочете отримати консультацію або знайти відповіді на інші
                запитання, заповніть форму нижче і наш менеджер зв’яжеться з вами найближчим часом.</p>
            <form class="contacts_feedback_form form" action="javascript:void(0)">
                <p>Що ми можемо для вас зробити?</p>
                <ul class="tabs__btn">
                    <li class="tabs__btn-item tabs__btn-item_active">Приватні будинки</li>
                    <li class="tabs__btn-item">Малоповерхове будівництво</li>
                    <li class="tabs__btn-item">індивідуальний прєкт</li>
                </ul>
                <p>Залиште свої контактні дані та коротко опишіть свій запит.</p>
                <div class="contacts_feedback_form-inputs">
                    <div class="input" id="userName">
                        <label for="user">Ім’я</label>
                        <input type="text" name="userName" id="user"  placeholder="Alex">
                        <span>error message</span>
                    </div>
                    <div class="input" id="userPhone">
                        <label for="phone">Телефон</label>
                        <input type="text"  name="phoneUser" id="phone"  placeholder="+38 (063) 24 56 789">
                        <span>error message</span>
                    </div>
                    <div class="textarea" id="textMessage" >
                        <label for="textArea">Повідомлення</label>
                        <textarea  name="textMessage" id="textArea" placeholder="Введіть ваше повідомлення"  ></textarea>
                        <span>error message</span>
                    </div>
                    <button type="submit" class="btn">надіслати</button>
                </div>
            </form>
        </div>

    </div>
</section>