<section class="contacts_promo">
    <div class="container">
        <a href="javascript:void(0)" class="promo_back">Назад</a>
        <div class="contacts_promo-flex">
            <div class="contacts_promo_wrapper">
                <h3 class="contacts_promo_wrapper-subtitle">Контакти</h3>
                <p class="contacts_promo_wrapper-descr">В мире строительства частных домов мы предлагаем не просто строить дом, а создавать
                    пространство, которое станет отражением вашего стиля жизни и индивидуальности.</p>
            </div>
            <div class="contacts_promo_content">
                <div class="contacts_promo_content-item">
                    <p>( E-мейл )</p>
                    <a href="javascript:void(0)">alexgroup@gmail.com</a>
                </div>
                <div class="contacts_promo_content-item">
                    <p>( Телефон )</p>
                    <a href="javascript:void(0)">+38 (063) 678 67 48</a>
                    <a href="javascript:void(0)">+38 (063) 678 67 48</a>
                    <a href="javascript:void(0)">+38 (063) 678 67 48</a>
                </div>
            </div>
        </div>
    </div>
   <div class="contacts_promo_img" style="background: url('../img/our_projects_promo.webp') center center/cover no-repeat;">
    </div>
</section> 