<section class="promo_project">
    <div class="container">
        <a href="javascript:void(0)" class="promo_back">Назад</a>
        <div class="promo_project_wrapper">
            <h3 class="promo_project_wrapper-subtitle">Будинок в класичному стилі</h3>
            <div class="promo_project_wrapper__items">
                <div class="promo_project_wrapper__items-item">
                    <p class="promo_project_wrapper__items-item-light">стиль</p>
                    <p class="promo_project_wrapper__items-item-bold">Класика</p>
                </div>
                <div class="promo_project_wrapper__items-item">
                    <p class="promo_project_wrapper__items-item-light">квадратура</p>
                    <p class="promo_project_wrapper__items-item-bold">1085 м<i>2</i></p>
                </div>
                <div class="promo_project_wrapper__items-item">
                    <p class="promo_project_wrapper__items-item-light">терміни виконання</p>
                    <p class="promo_project_wrapper__items-item-bold">24 місяці</p>
                </div>
            </div>
        </div>
    </div>
   <div class="promo_project_img" style="background: url('../img/promo_project_bg.webp') center center/cover no-repeat;">
    </div>
</section> 