<section class="project_stages">
    <div class="container">
        <div class="project_stages_wrapper">
            <h3 class="title">( Етап 1 )</h3>
            <div class="project_stages_content">
                <h4 class="project_stages_content-subtitle">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим клієнтам
                    не просто послуги з будівництва, а цілковитий комплекс супроводу від початку до кінця.</h4>
                <p class="project_stages_content-descr">Ми розуміємо, що створення вашого будинку — це особливий момент, і ми
                    робимо все можливе, щоб процес був не лише безтурботним, але й надихаючим.Ми розуміємо, що створення
                    вашого будинку — це особливий момент.</p>
            </div>
            <div class="project_stages_items">
                <div class="project_stages_items-item">
                    <img src="img/stages_1.webp" alt="">
                </div>
                <div class="project_stages_items-item">
                    <img src="img/stages_2.webp" alt="">
                </div>
            </div>
        </div>
        <div class="project_stages_wrapper">
            <h3 class="title">( Етап 1 )</h3>
            <div class="project_stages_content">
                <h4 class="project_stages_content-subtitle">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим клієнтам
                    не просто послуги з будівництва, а цілковитий комплекс супроводу від початку до кінця.</h4>
                <p class="project_stages_content-descr">Ми розуміємо, що створення вашого будинку — це особливий момент, і ми
                    робимо все можливе, щоб процес був не лише безтурботним, але й надихаючим.Ми розуміємо, що створення
                    вашого будинку — це особливий момент.</p>
            </div>
            <div class="project_stages_items">
                <div class="project_stages_items-item">
                    <img src="img/stages_1.webp" alt="">
                </div>
                <div class="project_stages_items-item">
                    <img src="img/stages_2.webp" alt="">
                </div>
            </div>
        </div>
        <div class="project_stages_wrapper">
            <h3 class="title">( Етап 1 )</h3>
            <div class="project_stages_content">
                <h4 class="project_stages_content-subtitle">У компанії AlexxGroup ми пишаємося тим, що надаємо нашим клієнтам
                    не просто послуги з будівництва, а цілковитий комплекс супроводу від початку до кінця.</h4>
                <p class="project_stages_content-descr">Ми розуміємо, що створення вашого будинку — це особливий момент, і ми
                    робимо все можливе, щоб процес був не лише безтурботним, але й надихаючим.Ми розуміємо, що створення
                    вашого будинку — це особливий момент.</p>
            </div>
            <div class="project_stages_items">
                <div class="project_stages_items-item">
                    <img src="img/stages_1.webp" alt="">
                </div>
                <div class="project_stages_items-item">
                    <img src="img/stages_2.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="project_stages_button">
        <a href="javascript:void(0)" class="project_stages_button-prev">Попередній проєкт</a>
        <a href="javascript:void(0)" class="project_stages_button-next">Наступний проєкт</a>
    </div>
</section>