<section class="our_work">
    <div class="container">
        <ul class="tabs__btn">
            <li class="tabs__btn-item tabs__btn-item_active" >усі
              <button data-name="all"></button>
            </li>
            <li class="tabs__btn-item" data-f="tab-1">квартири
              <button data-name="apartments"></button>
            </li>
            <li class="tabs__btn-item" data-f="tab-2">будинки
              <button data-name="houses"></button>
            </li>
            <li class="tabs__btn-item" data-f="tab-3">комерція
              <button data-name="commerce"></button>
            </li>
            
          </ul>
        <div class="our_work__items">
            <div class="our_work__items-item">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">квартира в стилі мінімалізм</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                надійним партнером.</p>
            </div>
            <div class="our_work__items-item">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">Будинок в стилі сучасна класика</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим надійним партнером, забезпечуючи вас всією необхідною турботою та увагою до деталей.</p>
            </div>
            <div class="our_work__items-item">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">квартира в стилі мінімалізм</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                надійним партнером.</p>
            </div>
            <div class="our_work__items-item">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">квартира в стилі мінімалізм</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                надійним партнером.</p>
            </div>
            <div class="our_work__items-item ">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">Будинок в стилі сучасна класика</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим надійним партнером, забезпечуючи вас всією необхідною турботою та увагою до деталей.</p>
            </div>
            <div class="our_work__items-item ">
                <div class="img">
                    <img src="img/slider.webp" alt="">
                </div>
                <h4 class="our_work__items-item__title">квартира в стилі мінімалізм</h4>
                <p class="our_work__items-item__descr">Ми віримо, що на кожному етапі створення вашого будинку Алекс Груп є вашим
                надійним партнером.</p>
            </div>
        </div>
        <button data-loading="ourWorkMore" class="more">Показать еще</button>
    </div>
</section>